In [1]:
import pandas as pd
import numpy as np

In [2]:
glob_cases=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
glob_recovered=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")
glob_deaths=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
glob_vacc=pd.read_csv("https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/global_data/time_series_covid19_vaccine_global.csv")
glob_vac_admin=pd.read_csv("https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/global_data/time_series_covid19_vaccine_doses_admin_global.csv")

In [9]:
glob_vacc

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Report_Date_String,UID,Province_State
0,Canada,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00,2020-12-14,124.0,NaN
1,World,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00,2020-12-14,NaN,NaN
2,Canada,2020-12-15,7.230000e+02,0.000000e+00,0.000000e+00,2020-12-15,124.0,NaN
3,China,2020-12-15,1.500000e+06,0.000000e+00,0.000000e+00,2020-12-15,156.0,NaN
4,Russia,2020-12-15,2.850000e+04,2.850000e+04,0.000000e+00,2020-12-15,643.0,NaN
...,...,...,...,...,...,...,...,...
220743,West Bank and Gaza,2022-04-27,3.718981e+06,NaN,NaN,2022-04-28,275.0,NaN
220744,World,2022-04-27,1.132536e+10,4.941723e+09,4.468777e+09,2022-04-28,NaN,NaN
220745,Yemen,2022-04-27,8.218530e+05,6.569570e+05,4.187850e+05,2022-04-28,887.0,NaN
220746,Zambia,2022-04-27,3.478542e+06,2.829929e+06,2.398679e+06,2022-04-28,894.0,NaN
220747,Zimbabwe,2022-04-27,1.023125e+07,5.841440e+06,3.651987e+06,2022-04-28,716.0,NaN

In [15]:
set(glob_vacc['Country_Region'].unique()) - set(glob_cases['Country/Region'].unique())

{'US (Aggregate)', 'World'}

In [16]:
set(glob_cases['Country/Region'].unique()) - set(glob_vacc['Country_Region'].unique())

{'Antarctica',
 'Diamond Princess',
 'Eritrea',
 'Holy See',
 'MS Zaandam',
 'Summer Olympics 2020',
 'Tonga',
 'Winter Olympics 2022'}

In [17]:
glob_vacc[glob_vacc['Country_Region'] == 'US (Aggregate)']

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Report_Date_String,UID,Province_State
14203,US (Aggregate),2021-05-11,262652684.0,153448316.0,116576359.0,2021-05-12,840.0,NaN
14469,US (Aggregate),2021-05-12,264226655.0,153986312.0,117647439.0,2021-05-13,840.0,NaN
14735,US (Aggregate),2021-05-13,266195707.0,154624231.0,118987308.0,2021-05-14,840.0,NaN
15062,US (Aggregate),2021-05-14,268044971.0,155251852.0,120258637.0,2021-05-15,840.0,NaN
15389,US (Aggregate),2021-05-15,270341312.0,156217367.0,121768268.0,2021-05-16,840.0,NaN
...,...,...,...,...,...,...,...,...
217921,US (Aggregate),2022-04-23,570180860.0,257188688.0,219280491.0,2022-04-24,840.0,NaN
218614,US (Aggregate),2022-04-24,570566319.0,257255601.0,219338297.0,2022-04-25,840.0,NaN
219307,US (Aggregate),2022-04-25,570762728.0,257296710.0,219370557.0,2022-04-26,840.0,NaN
220000,US (Aggregate),2022-04-26,571538105.0,257354769.0,219423356.0,2022-04-27,840.0,NaN
220693,US (Aggregate),2022-04-27,572216512.0,257423254.0,219483386.0,2022-04-28,840.0,NaN

In [18]:
glob_vacc[glob_vacc['Country_Region'] == 'US']

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Report_Date_String,UID,Province_State
27,US,2020-12-20,556208.0,556208.0,0.0,2020-12-20,840.0,NaN
33,US,2020-12-21,614117.0,614117.0,0.0,2020-12-21,840.0,NaN
40,US,2020-12-22,614117.0,614117.0,0.0,2020-12-22,840.0,NaN
49,US,2020-12-23,1008025.0,1008025.0,0.0,2020-12-23,840.0,NaN
61,US,2020-12-24,1008025.0,1008025.0,0.0,2020-12-24,840.0,NaN
...,...,...,...,...,...,...,...,...
217920,US,2022-04-23,572183620.0,257188688.0,219280491.0,2022-04-24,840.0,NaN
218613,US,2022-04-24,572595338.0,257255601.0,219338297.0,2022-04-25,840.0,NaN
219306,US,2022-04-25,572829658.0,257296710.0,219370557.0,2022-04-26,840.0,NaN
219999,US,2022-04-26,573582745.0,257354769.0,219423356.0,2022-04-27,840.0,NaN
220692,US,2022-04-27,574232736.0,257423254.0,219483386.0,2022-04-28,840.0,NaN

In [21]:
glob_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/18/22,4/19/22,4/20/22,4/21/22,4/22/22,4/23/22,4/24/22,4/25/22,4/26/22,4/27/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,178457,178513,178574,178611,178638,178648,178689,178745,178769,178809
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,274520,274535,274606,274606,274737,274791,274828,274828,274862,274929
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265741,265746,265746,265754,265761,265761,265767,265771,265772,265773
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,40709,40709,41013,41013,41013,41013,41013,41013,41013,41013
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99194,99287,99287,99287,99287,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,656617,656876,656876,656876,656876,656876,656876,656876,657060,657060
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11818,11818,11818,11818,11818,11818,11818,11818,11818,11818
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,318515,318640,318640,318984,318984,318984,318984,319316,319431,319431
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,247297,247297,247336,247383,247488,247524,247524,247598,247667,247729

In [22]:
glob_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/18/22,4/19/22,4/20/22,4/21/22,4/22/22,4/23/22,4/24/22,4/25/22,4/26/22,4/27/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7679,7680,7680,7680,7680,7681,7682,7683,7683,7683
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3496,3496,3496,3496,3496,3496,3496,3496,3496,3496
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6875,6875,6875,6875
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5656,5657,5657,5657,5657,5657,5657,5657,5657,5657
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2148,2148,2148,2148,2148,2148,2149,2149,2149,2149
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,3973,3973,3973,3974,3974,3974,3974,3976,3976,3976
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5464,5464,5466,5467,5468,5468,5468,5468,5469,5469

In [19]:
glob_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/18/22,4/19/22,4/20/22,4/21/22,4/22/22,4/23/22,4/24/22,4/25/22,4/26/22,4/27/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
deaths = pd.melt(glob_deaths,
                 ["Province/State", "Country/Region", "Lat", "Long"],
                 var_name="Date",
                 value_name="Deaths")

deaths = deaths.drop(['Province/State','Lat','Long'],axis=1)
deaths = deaths.groupby(['Country/Region','Date']).sum().reset_index()
deaths['Date'] = pd.to_datetime(deaths['Date'], errors='coerce')
deaths = deaths.sort_values(by=['Country/Region','Date'])
deaths

       Country/Region       Date  Deaths
28        Afghanistan 2020-01-22       0
31        Afghanistan 2020-01-23       0
34        Afghanistan 2020-01-24       0
37        Afghanistan 2020-01-25       0
40        Afghanistan 2020-01-26       0
...               ...        ...     ...
163400       Zimbabwe 2022-04-23    5468
163403       Zimbabwe 2022-04-24    5468
163406       Zimbabwe 2022-04-25    5468
163409       Zimbabwe 2022-04-26    5469
163412       Zimbabwe 2022-04-27    5469

[163746 rows x 3 columns]

In [51]:
recovered = pd.melt(glob_recovered,
                    ["Province/State", "Country/Region", "Lat", "Long"],
                    var_name="Date",
                    value_name="Recovered")

recovered = recovered.drop(['Province/State','Lat','Long'], axis=1)
recovered = recovered.groupby(['Country/Region','Date']).sum().reset_index()
recovered['Date'] = pd.to_datetime(recovered['Date'], errors='coerce')
recovered = recovered.sort_values(by=['Country/Region','Date'])
recovered

       Country/Region       Date  Recovered
28        Afghanistan 2020-01-22          0
31        Afghanistan 2020-01-23          0
34        Afghanistan 2020-01-24          0
37        Afghanistan 2020-01-25          0
40        Afghanistan 2020-01-26          0
...               ...        ...        ...
163400       Zimbabwe 2022-04-23          0
163403       Zimbabwe 2022-04-24          0
163406       Zimbabwe 2022-04-25          0
163409       Zimbabwe 2022-04-26          0
163412       Zimbabwe 2022-04-27          0

[163746 rows x 3 columns]

In [52]:
data = deaths.merge(how = 'outer', right=recovered, on=['Country/Region', 'Date'])
data

       Country/Region       Date  Deaths  Recovered
0         Afghanistan 2020-01-22       0          0
1         Afghanistan 2020-01-23       0          0
2         Afghanistan 2020-01-24       0          0
3         Afghanistan 2020-01-25       0          0
4         Afghanistan 2020-01-26       0          0
...               ...        ...     ...        ...
163741       Zimbabwe 2022-04-23    5468          0
163742       Zimbabwe 2022-04-24    5468          0
163743       Zimbabwe 2022-04-25    5468          0
163744       Zimbabwe 2022-04-26    5469          0
163745       Zimbabwe 2022-04-27    5469          0

[163746 rows x 4 columns]

In [54]:
cases = pd.melt(glob_cases,
                ["Province/State", "Country/Region", "Lat", "Long"],
                var_name="Date",
                value_name="Cases")

cases = cases.drop(['Province/State','Lat','Long'], axis=1)
cases = cases.groupby(['Country/Region','Date']).sum().reset_index()
cases['Date'] = pd.to_datetime(cases['Date'], errors='coerce')
cases = cases.sort_values(by=['Country/Region','Date'])
cases

       Country/Region       Date   Cases
28        Afghanistan 2020-01-22       0
31        Afghanistan 2020-01-23       0
34        Afghanistan 2020-01-24       0
37        Afghanistan 2020-01-25       0
40        Afghanistan 2020-01-26       0
...               ...        ...     ...
163400       Zimbabwe 2022-04-23  247524
163403       Zimbabwe 2022-04-24  247524
163406       Zimbabwe 2022-04-25  247598
163409       Zimbabwe 2022-04-26  247667
163412       Zimbabwe 2022-04-27  247729

[163746 rows x 3 columns]

In [55]:
data = data.merge(how = 'outer', right=cases, on=['Country/Region', 'Date'])
data

       Country/Region       Date  Deaths  Recovered   Cases
0         Afghanistan 2020-01-22       0          0       0
1         Afghanistan 2020-01-23       0          0       0
2         Afghanistan 2020-01-24       0          0       0
3         Afghanistan 2020-01-25       0          0       0
4         Afghanistan 2020-01-26       0          0       0
...               ...        ...     ...        ...     ...
163741       Zimbabwe 2022-04-23    5468          0  247524
163742       Zimbabwe 2022-04-24    5468          0  247524
163743       Zimbabwe 2022-04-25    5468          0  247598
163744       Zimbabwe 2022-04-26    5469          0  247667
163745       Zimbabwe 2022-04-27    5469          0  247729

[163746 rows x 5 columns]

In [56]:
glob_vacc

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Report_Date_String,UID,Province_State
0,Canada,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00,2020-12-14,124.0,NaN
1,World,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00,2020-12-14,NaN,NaN
2,Canada,2020-12-15,7.230000e+02,0.000000e+00,0.000000e+00,2020-12-15,124.0,NaN
3,China,2020-12-15,1.500000e+06,0.000000e+00,0.000000e+00,2020-12-15,156.0,NaN
4,Russia,2020-12-15,2.850000e+04,2.850000e+04,0.000000e+00,2020-12-15,643.0,NaN
...,...,...,...,...,...,...,...,...
220743,West Bank and Gaza,2022-04-27,3.718981e+06,NaN,NaN,2022-04-28,275.0,NaN
220744,World,2022-04-27,1.132536e+10,4.941723e+09,4.468777e+09,2022-04-28,NaN,NaN
220745,Yemen,2022-04-27,8.218530e+05,6.569570e+05,4.187850e+05,2022-04-28,887.0,NaN
220746,Zambia,2022-04-27,3.478542e+06,2.829929e+06,2.398679e+06,2022-04-28,894.0,NaN
220747,Zimbabwe,2022-04-27,1.023125e+07,5.841440e+06,3.651987e+06,2022-04-28,716.0,NaN

In [63]:
vacc_data = glob_vacc[['Country_Region','Date','Doses_admin','People_partially_vaccinated','People_fully_vaccinated']]
vacc_data = vacc_data.rename(columns={'Country_Region': 'Country/Region'})
vacc_data['Date'] =  pd.to_datetime(vacc_data['Date'], errors='coerce')
vacc_data

,Country/Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated
0,Canada,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00
1,World,2020-12-14,5.000000e+00,0.000000e+00,0.000000e+00
2,Canada,2020-12-15,7.230000e+02,0.000000e+00,0.000000e+00
3,China,2020-12-15,1.500000e+06,0.000000e+00,0.000000e+00
4,Russia,2020-12-15,2.850000e+04,2.850000e+04,0.000000e+00
...,...,...,...,...,...
220743,West Bank and Gaza,2022-04-27,3.718981e+06,NaN,NaN
220744,World,2022-04-27,1.132536e+10,4.941723e+09,4.468777e+09
220745,Yemen,2022-04-27,8.218530e+05,6.569570e+05,4.187850e+05
220746,Zambia,2022-04-27,3.478542e+06,2.829929e+06,2.398679e+06
220747,Zimbabwe,2022-04-27,1.023125e+07,5.841440e+06,3.651987e+06

In [64]:
full_data = data.merge(right = vacc_data, on = ['Country/Region', 'Date'], how = 'outer')
full_data

,Country/Region,Date,Deaths,Recovered,Cases,Doses_admin,People_partially_vaccinated,People_fully_vaccinated
0,Afghanistan,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,2020-01-23,0.0,0.0,0.0,NaN,NaN,NaN
2,Afghanistan,2020-01-24,0.0,0.0,0.0,NaN,NaN,NaN
3,Afghanistan,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN
4,Afghanistan,2020-01-26,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
308608,World,2022-04-25,NaN,NaN,NaN,1.125401e+10,4.922313e+09,4.446615e+09
308609,US (Aggregate),2022-04-26,NaN,NaN,NaN,5.715381e+08,2.573548e+08,2.194234e+08
308610,World,2022-04-26,NaN,NaN,NaN,1.126376e+10,4.923267e+09,4.449440e+09
308611,US (Aggregate),2022-04-27,NaN,NaN,NaN,5.722165e+08,2.574233e+08,2.194834e+08
308612,World,2022-04-27,NaN,NaN,NaN,1.132536e+10,4.941723e+09,4.468777e+09

In [66]:
population_data = pd.read_csv('2022_population.csv')
population_data = population_data[['country','2022_last_updated','area']]
population_data

              country 2022_last_updated             area
0               China     1,447,728,833  9,706,961 sq_km
1               India     1,404,338,577  3,287,590 sq_km
2       United States       334,473,589  9,372,610 sq_km
3           Indonesia       278,652,027  1,904,569 sq_km
4            Pakistan       228,746,300    881,912 sq_km
..                ...               ...              ...
219        Montserrat             4,965        102 sq_km
220  Falkland Islands             3,539     12,173 sq_km
221              Niue             1,622        260 sq_km
222           Tokelau             1,378         12 sq_km
223      Vatican City               799          1 sq_km

[224 rows x 3 columns]

In [72]:
import re
for i in range(len(population_data)):
    population_data['2022_last_updated'].iloc[i] = int(re.sub(',', '', population_data['2022_last_updated'].iloc[i]))

population_data

              country 2022_last_updated             area
0               China        1447728833  9,706,961 sq_km
1               India        1404338577  3,287,590 sq_km
2       United States         334473589  9,372,610 sq_km
3           Indonesia         278652027  1,904,569 sq_km
4            Pakistan         228746300    881,912 sq_km
..                ...               ...              ...
219        Montserrat              4965        102 sq_km
220  Falkland Islands              3539     12,173 sq_km
221              Niue              1622        260 sq_km
222           Tokelau              1378         12 sq_km
223      Vatican City               799          1 sq_km

[224 rows x 3 columns]

In [75]:
for i in range(len(population_data)):
    population_data['area'].iloc[i] = re.sub(',', '', population_data['area'].iloc[i])
    population_data['area'].iloc[i] = int(re.sub('sq_km', '', population_data['area'].iloc[i]))

population_data

              country 2022_last_updated     area
0               China        1447728833  9706961
1               India        1404338577  3287590
2       United States         334473589  9372610
3           Indonesia         278652027  1904569
4            Pakistan         228746300   881912
..                ...               ...      ...
219        Montserrat              4965      102
220  Falkland Islands              3539    12173
221              Niue              1622      260
222           Tokelau              1378       12
223      Vatican City               799        1

[224 rows x 3 columns]

In [76]:
set(population_data['country']) - set(full_data['Country/Region'])

{'American Samoa',
 'Anguilla',
 'Antigua And Barbuda',
 'Aruba',
 'Bermuda',
 'Bosnia And Herzegovina',
 'Cape Verde',
 'Cayman Islands',
 'Cook Islands',
 'Curacao',
 'Czech Republic',
 'Falkland Islands',
 'Faroe Islands',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Guinea Bissau',
 'Hong Kong',
 'Ivory Coast',
 'Macau',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Myanmar',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palestine',
 'Puerto Rico',
 'Reunion',
 'Saint Barthelemy',
 'Saint Kitts And Nevis',
 'Saint Martin',
 'Saint Pierre And Miquelon',
 'Sao Tome And Principe',
 'Sint Maarten',
 'South Korea',
 'Taiwan',
 'Timor Leste',
 'Tokelau',
 'Trinidad And Tobago',
 'Turkmenistan',
 'Turks And Caicos Islands',
 'Tuvalu',
 'United States',
 'United States Virgin Islands',
 'Vatican City',
 'Wallis And Futuna',
 'Western Sahara'}

In [77]:
set(full_data['Country/Region']) - set(population_data['country'])

{'Antarctica',
 'Antigua and Barbuda',
 'Bosnia and Herzegovina',
 'Burma',
 'Cabo Verde',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Czechia',
 'Diamond Princess',
 'Eswatini',
 'Guinea-Bissau',
 'Holy See',
 'Korea, South',
 'Kosovo',
 'MS Zaandam',
 'Saint Kitts and Nevis',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Summer Olympics 2020',
 'Taiwan*',
 'Timor-Leste',
 'Trinidad and Tobago',
 'US',
 'US (Aggregate)',
 'West Bank and Gaza',
 'Winter Olympics 2022',
 'World'}

In [117]:
desire = ['Antigua and Barbuda', 'Bosnia and Herzegovina', 'Cabo Verde', 'Czechia', 'Korea, South', 'Guinea-Bissau', 'Saint Kitts and Nevis', 'Sao Tome and Principe', 'Taiwan*', 'Timor-Leste','Trinidad and Tobago', 'US']
target = ['Antigua And Barbuda', 'Bosnia And Herzegovina', 'Cape Verde', 'Czech Republic','South Korea', 'Guinea Bissau', 'Saint Kitts And Nevis', 'Sao Tome And Principe', 'Taiwan', 'Timor Leste','Trinidad And Tobago', 'United States']

In [118]:
for i in range(len(population_data)):
    if (population_data['country'].iloc[i] in target):
        population_data['country'].iloc[i] = desire[target.index(population_data['country'].iloc[i])]

population_data

              country 2022_last_updated     area
0               China        1447728833  9706961
1               India        1404338577  3287590
2                  US         334473589  9372610
3           Indonesia         278652027  1904569
4            Pakistan         228746300   881912
..                ...               ...      ...
219        Montserrat              4965      102
220  Falkland Islands              3539    12173
221              Niue              1622      260
222           Tokelau              1378       12
223      Vatican City               799        1

[224 rows x 3 columns]

In [119]:
set(full_data['Country/Region']) - set(population_data['country'])

{'Antarctica',
 'Burma',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Diamond Princess',
 'Eswatini',
 'Holy See',
 'Kosovo',
 'MS Zaandam',
 'Saint Vincent and the Grenadines',
 'Summer Olympics 2020',
 'US (Aggregate)',
 'West Bank and Gaza',
 'Winter Olympics 2022',
 'World'}

In [121]:
population_data = population_data.rename(columns = {'country': 'Country/Region', '2022_last_updated': 'Population', 'area': 'Area (sq_km)'})
population_data

       Country/Region  Population Area (sq_km)
0               China  1447728833      9706961
1               India  1404338577      3287590
2                  US   334473589      9372610
3           Indonesia   278652027      1904569
4            Pakistan   228746300       881912
..                ...         ...          ...
219        Montserrat        4965          102
220  Falkland Islands        3539        12173
221              Niue        1622          260
222           Tokelau        1378           12
223      Vatican City         799            1

[224 rows x 3 columns]

In [122]:
full_data = full_data.merge(right = population_data, on = ['Country/Region'], how = 'left')
full_data

,Country/Region,Date,Deaths,Recovered,Cases,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Population,Area (sq_km)
0,Afghanistan,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230
1,Afghanistan,2020-01-23,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230
2,Afghanistan,2020-01-24,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230
3,Afghanistan,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230
4,Afghanistan,2020-01-26,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230
...,...,...,...,...,...,...,...,...,...,...
308608,World,2022-04-25,NaN,NaN,NaN,1.125401e+10,4.922313e+09,4.446615e+09,NaN,NaN
308609,US (Aggregate),2022-04-26,NaN,NaN,NaN,5.715381e+08,2.573548e+08,2.194234e+08,NaN,NaN
308610,World,2022-04-26,NaN,NaN,NaN,1.126376e+10,4.923267e+09,4.449440e+09,NaN,NaN
308611,US (Aggregate),2022-04-27,NaN,NaN,NaN,5.722165e+08,2.574233e+08,2.194834e+08,NaN,NaN
308612,World,2022-04-27,NaN,NaN,NaN,1.132536e+10,4.941723e+09,4.468777e+09,NaN,NaN

In [78]:
!pip install pycountry_convert
import pycountry_convert as pc

Collecting pycountry_convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pycountry>=16.11.27.1
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Collecting pytest>=3.4.0
  Downloading pytest-7.1.2-py3-none-any.whl (297 kB)
Collecting repoze.lru>=0.7
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Collecting pprintpp>=0.3.0
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-3.0.0-py3-none-any.whl (20 kB)
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.7.0-py3-none-any.whl (12 kB)
Requirement already satisfied: wheel>=0.30.0 in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from pycountry_convert) (0.37.1)
Requirement already satisfied: setuptools in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from pycountry>=16.11.27.1->pycountry_convert) (58.0.4)
Collecting tomli>=1.0.0
  Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
Requirement already satisfied: colorama in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.4)
Requirement already satisfied: packaging in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.4.0)
Collecting pluggy<2.0,>=0.12
  Downloading pluggy-1.0.0-py2.py3-none-any.whl (13 kB)
Collecting py>=1.8.2
  Downloading py-1.11.0-py2.py3-none-any.whl (98 kB)
Collecting atomicwrites>=1.0
  Downloading atomicwrites-1.4.0-py2.py3-none-any.whl (6.8 kB)
Collecting iniconfig
  Downloading iniconfig-1.1.1-py2.py3-none-any.whl (5.0 kB)
Collecting coverage[toml]>=5.2.1
  Downloading coverage-6.3.2-cp38-cp38-win_amd64.whl (187 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ziming wei\anaconda3\envs\bioconda\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (3.0.7)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (PEP 517): started
  Building wheel for pycountry (PEP 517): finished with status 'done'
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681845 sha256=07ecd44d0a4ad7c2082ef5390d9b2e604161ea6c0f6c2d73a5f6a51cbb5371fb
  Stored in directory: c:\users\ziming wei\appdata\local\pip\cache\wheels\e2\aa\0f\c224e473b464387170b83ca7c66947b4a7e33e8d903a679748
Successfully built pycountry
Installing collected packages: tomli, py, pluggy, iniconfig, coverage, atomicwrites, pytest, repoze.lru, pytest-mock, pytest-cov, pycountry, pprintpp, pycountry-convert
Successfully installed atomicwrites-1.4.0 coverage-6.3.2 iniconfig-1.1.1 pluggy-1.0.0 pprintpp-0.4.0 py-1.11.0 pycountry-22.3.5 pycountry-convert-0.7.2 pytest-7.1.2 pytest-cov-3.0.0 pytest-mock-3.7.0 repoze.lru-0.7 tomli-2.0.1

In [124]:
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [128]:
Continent = ['NAN']*len(full_data)

for i in range(len(full_data)):
    try:
        Continent[i] = country_to_continent(full_data['Country/Region'][i])
    except:
        pass

Continent

['Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 ...]

In [129]:
full_data['Continent'] = Continent
full_data

,Country/Region,Date,Deaths,Recovered,Cases,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Population,Area (sq_km),Continent
0,Afghanistan,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230,Asia
1,Afghanistan,2020-01-23,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230,Asia
2,Afghanistan,2020-01-24,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230,Asia
3,Afghanistan,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230,Asia
4,Afghanistan,2020-01-26,0.0,0.0,0.0,NaN,NaN,NaN,40595022,652230,Asia
...,...,...,...,...,...,...,...,...,...,...,...
308608,World,2022-04-25,NaN,NaN,NaN,1.125401e+10,4.922313e+09,4.446615e+09,NaN,NaN,NAN
308609,US (Aggregate),2022-04-26,NaN,NaN,NaN,5.715381e+08,2.573548e+08,2.194234e+08,NaN,NaN,NAN
308610,World,2022-04-26,NaN,NaN,NaN,1.126376e+10,4.923267e+09,4.449440e+09,NaN,NaN,NAN
308611,US (Aggregate),2022-04-27,NaN,NaN,NaN,5.722165e+08,2.574233e+08,2.194834e+08,NaN,NaN,NAN
308612,World,2022-04-27,NaN,NaN,NaN,1.132536e+10,4.941723e+09,4.468777e+09,NaN,NaN,NAN

In [131]:
full_data.to_csv('Covid_19_Full_Data.csv', index = False)